

.App {
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Inputs {
  display: flex;
  flex-wrap: wrap;
}

.InputGroup {
  margin-right: 10px;
}

.Tokens {
  margin: 5px 0;
}

.Token {
  display: inline-block;
  padding: 4px;
  margin: 2px;
  background-color: #ddfcff;
  border-radius: 4px;
}