

.App {
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Inputs {
  display: flex;
}

.InputGroup {
  margin: 2px;
}
